#include<windows.h>
#include "Window.h"


SBP_ICON ICON S.ico

//------Wave Application Settings DialoguBox-----
SELECTCOLOR DIALOG DISCARDABLE 0, 0, 325, 295
STYLE (DS_MODALFRAME |DS_CENTER| WS_CAPTION )
CAPTION "Wave Application Settings"
FONT 8, "MS Sans Serif"

BEGIN
 
 //ICON "SBP_ICON",IDC_STATIC1,7,7,21,20

	PUSHBUTTON "Register User", ID_REG_USER, 25, 15, 55, 15

	GROUPBOX "Sound Settings",ID_SOUNDSETS,120,5,180,45
	AUTORADIOBUTTON "Sound OFF", ID_VOLUME_OFF,130, 20, 50, 10
	AUTORADIOBUTTON "Sound ON", ID_VOLUME_ON, 130, 35, 50, 10
	LISTBOX ID_LISTBOX, 195, 20, 85, 30


	GROUPBOX "Wave Parameters",ID_WAVEPARAM,5,60,317,130
	PUSHBUTTON "&RED", ID_RED, 10, 75, 60, 15, 
	PUSHBUTTON "&GREEN", ID_GREEN, 72, 75, 60, 15
	PUSHBUTTON "&BLUE", ID_BLUE, 134, 75, 60, 15
	PUSHBUTTON "&CYAN", ID_CYAN, 196, 75, 60, 15
	PUSHBUTTON "&MAGENTA", ID_MAGENTA, 258, 75, 60, 15
	
	PUSHBUTTON "&YELLOW", ID_YELLOW, 10, 95, 60, 15
	PUSHBUTTON "&WHITE", ID_WHITE, 72, 95, 60, 15
	PUSHBUTTON "GR&EY", ID_GRAY, 134, 95, 60, 15
	PUSHBUTTON "&VIOLET", ID_VIOLET, 196, 95, 60, 15
	PUSHBUTTON "&ORANGE(default)", ID_ORANGE,258, 95, 60, 15

	PUSHBUTTON "Increase Points", ID_INCREASEPOINTS, 15, 125, 70, 15
	PUSHBUTTON "Increase Waves", ID_INCREASEWAVES, 87, 125, 70, 15
	PUSHBUTTON "Increase Amplitude", ID_INCREASEAMPLITUDES, 159, 125, 70, 15
	PUSHBUTTON "Increase Frequency", ID_INCREASEFREQUENCY, 231, 125, 70, 15
	
	PUSHBUTTON "Decrease Points", ID_DECREASEPOINTS, 15, 145, 70, 15
	PUSHBUTTON "Decrease Waves", ID_DECREASEWAVES, 87, 145, 70, 15
	PUSHBUTTON "Decrease Amplitude", ID_DECREASEAMPLITUDES, 159, 145, 70, 15
	PUSHBUTTON "Decrease Frequency", ID_DECREASEFREQUENCY, 231, 145, 70, 15

	PUSHBUTTON "Restart Wave", ID_RESTARTWAVE, 145, 170, 55, 15

	GROUPBOX "Audio Log",ID_AUDIOLOG,25,195,275,65
	AUTOCHECKBOX "Export Audio Log", ID_CHECK_EXP_LOG,35,210,70,10
	LISTBOX ID_LISTBOXEXPORT,35,230,85,30

	PUSHBUTTON "OK", IDOK, 165, 270, 50, 15
	PUSHBUTTON "EXIT", IDEXIT, 218, 270, 50, 15
	PUSHBUTTON "ABOUT", IDABOUT, 271, 270, 50, 15
END

//----About DialogBox------

ABOUT DIALOG DISCARDABLE 0, 0, 165, 78
STYLE(DS_MODALFRAME | DS_CENTER | WS_CAPTION | WS_BORDER)
CAPTION "                                              ABOUT!"
FONT 11, "Verdana"

BEGIN
	ICON SBP_ICON,SBP_ICON,10,5,0,0
	
	LTEXT "SINE WAVE SIMULATOR",2,45,5,100,25
	LTEXT "A Project By : AstroMediComp",4, 30, 20, 120, 15
	LTEXT "Developed By : Santosh Balu Phatangare", 5, 17, 32, 150, 15
	LTEXT "(santoshphatangare12@gmail.com)", 6, 22, 44, 160, 15
	PUSHBUTTON "OK", IDOK, 70, 58, 30, 10

END

//----User Registration DialogBox
REGISTER DIALOG DISCARDABLE 0, 0, 200, 70
STYLE(DS_MODALFRAME | DS_CENTER | WS_CAPTION)
CAPTION "User Registration"
FONT 8, "MS Sans Serif"

BEGIN
//ICON "SP", IDC_STATIC6, 5, 5, 0, 0
LTEXT "Name :", 3, 15, 10, 23, 10
EDITTEXT ID_ETFIRST_NAME,45,10,60,10
LTEXT "First Name :"ID_FIRST_NAME, 55, 22, 37, 10

EDITTEXT ID_ETSURNAME, 130, 10, 60, 10
LTEXT "Surname :"ID_SURNAME, 140, 22, 37, 10
PUSHBUTTON "Register", ID_REGISTER, 145, 50, 50, 15

END





